QUERY DIFERENCIAS MVID MVCAR/FICHEROS/2111_MVFID_PRD_20241008_094500_MovCartera.txt
QUERY DIFERENCIAS MVID MVCAR/FICHEROS/IF002_SAP_20241008.csv
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240229_082456_RiskManagement.txt
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240331_102024_RiskManagement.txt
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240430_101547_RiskManagement.txt
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240531_101134_RiskManagement.txt
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240630_102431_RiskManagement.txt
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240731_103207_RiskManagement.txt
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240831_182623_RiskManagement.txt
EVOLUTIVO LIQUIDACION INGRESOS POR SERVICIO/FICHEROS/1689_COMRM_PRD_20240930_104650_RiskManagement.txt
